<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="nav">
    <nav class="nav">
        <ul>
            <li id="pro">Our Project</li>
            <li><a id="active" href="/">Home</a> </li>
            <li><a href="/tasks">Tasks</a> </li>
            <li><a href="/login">Log in</a> </li>
            <li><a href="/register">Register</a> </li>
            <li><a href="/profile/{email}">Profile</a> </li>
            <li><a href="/users">Users</a> </li>
            <li><a href="/about">About</a> </li>
        </ul>
    </nav>
</div>
<div class="welcome">
    <p>Welcome in our application this application for trainning spring security code</p>
</div>
</body>
</html>