<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="nav">
    <nav class="nav">
        <ul>
            <li id="pro">Our Project</li>
            <li><a href="/">Home</a> </li>
            <li><a href="/tasks">Tasks</a> </li>
            <li><a href="/login">Log in</a> </li>
            <li><a href="/register">Register</a> </li>
            <li><a id="active" href="/profile">Profile</a> </li>
            <li><a href="/users">Users</a> </li>
            <li><a href="/about">About</a> </li>
        </ul>
    </nav>
</div>
<div class="welcome">
    <table>
        <tr th:each="task : ${user.tasks}">
            <td th:text="${task.date}"></td>
            <td th:text="${task.startTime}"></td>
            <td th:text="${task.endTime}"></td>
            <td th:text="${task.description}"></td>
            <td><button>Done</button></td>
        </tr>

    </table>
</div>
</body>
</html>